body {
  margin: 0;
  padding: 0;
  color: #444;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  margin: auto;
  width: 1000px;
}

.space {
  height: 20px;
}

.tmp {
  position: absolute;
}

header {
  background-color: #444;
  color: #eee;
  height: 30px;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2em;
  letter-spacing: 10px;
}

nav {
  margin-bottom: 10px;
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

  nav ul {
    margin: 0;
    padding: 0;
    width: 1000px;
    margin: auto;
  }

  nav ul li {
    display: inline-block;
    padding: 10px 20px;
    border-left: 1px dotted #999;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  nav ul li:hover {
    background-color: #eee;
    cursor: pointer;
  }

  nav ul li.last {
    border-right: 1px dotted #999;
  }

  nav ul li.current {
    font-weight: bold;
    background-color: #eee;
  }

footer {
  margin-top: 30px;
  padding-top: 20px;
  background-color: #eee;
  height: 50px;
  color: #666;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
}
  
  footer a, footer a:visited {
    color: #900;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }

.explore, .fight, .zone {
  text-align: center;
  border: 1px solid #ccc;
  margin: 10px 3px;
}

/** PARTS **/

.part {display: inline-block; vertical-align: top;}
.w50 {width: 50px;}
.w100 {width: 100px;}
.w300 {width: 300px;}
.w400 {width: 400px;}

.title {
  background-color: #eee;
  color: #999;
  text-transform: uppercase;
}

.div400 {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  position: relative;
}

.character, .materia {
  border-top: 1px solid #77B477;
}

.disabled {
  border-top: 1px solid #ccc;
  color: #999;
}
.disabled .avatar {
  opacity: 0.1;
}

.actions span {
  color: #900;
  cursor: pointer;
}

.atb_progress {background-color: #BEECBE; top: 0;}
.hp_progress {background-color: #009; top: 5;}
.limit_progress {background-color: rgb(249,188,187); top: 10;}
.xp_progress, .ap_progress {background-color: #009; top: 15;}

.atb_progress, .hp_progress, .limit_progress, .xp_progress, .ap_progress {
  position: absolute;
  height: 3px;
  left: 0;
}

.disabled .xp_progress {background-color: #ccc;}

.label {
  text-transform: uppercase;
  font-size: 10px;
  vertical-align: top;
  margin-left: 10px;
}

.boss {
  color: #900;
  text-transform: uppercase;
  font-size: 10px;
}

.line {
  font-style: italic;
  color: #999;
}

.list {
  display: none;
  position: absolute;
  border: 1px solid #000;
  z-index: 1;
  background-color: #FFF;
  padding: 3px;
}

.list > div:hover {
  background-color: #009;
  color: #fff;
  cursor: pointer;
}

.button {
  display: inline-block;
  font-size: 10px;
  padding: 3px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-color: #6C7DB3;
}

.button.limit {
  background-color: #900;
  color: #fff;
}

.button.disabled {
  color: #bbb;
  cursor: auto;
  border-color: #fff;
  background-color: #fff;
  text-decoration: line-through;
}

.button:hover {
  box-shadow: 0px 0px 5px #6C7DB3;
}

.button.disabled:hover {
  box-shadow: none;
}

.button.grey {background-color: #999;}
.button.green {background-color: #090;}
.button.red {background-color: #900;}

.area {
  width: 350px;
  height: 200px;
  margin-top: 10px;
  white-space: pre;
}

/* ANIMATIONS */

.atb_progress, .xp_progress, .limit_hp_progress {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}
