.explore, .fight, .zone {
  float: left;
  width: 400px;
  border: 1px solid #ccc;
  margin: 3px;
}

hr {
  clear: left;
}

.characters, .ennemies, .upgrades {
  float: left;
  width: 400px;
}

.character, .ennemy, .upgrade {
  border: 1px solid #ccc;
  margin: 3px;
}

.actions {
  float: right;
}

.disabled {
  color: #999;
}