<div class="part w300">
  <div>{{game.zone.name}}</div>
  <div><span class="label">gils</span> {{game.total_gils|floor}}</span></div>
</div><!--

--><div class="part w300">
  <div><img ng-src="img/zones/{{game.zone.img}}" width="100" /><br />INVENTORY</div>
</div><!--

--><div class="part w300">
  <div class="button" ng-click="back_game()">Back to game</div>
</div>

<div class="space"></div>

<div class="part title w400">Items</div>
<div class="part title w50"></div>
<div class="part title w400">Weapons</div>

<div class="space"></div>

<div class="part w400">

  <sections class="items">
    <div ng-repeat="(no, item) in game.items | clean" class="left div400">
      <div class="actions">
        <div class="button use" ng-click="use($event, item)">USE</div>
      </div>
      <div class="part w50"></div>
      <div class="part infos w300">
        {{item.data.name}} <strong ng-show="item.data.number > 0">x{{item.data.number}}</strong>
        <div>
          <span class="label">gils</span> {{item.data.gils}}
        </div>
        <div class="line">{{item.get_desc()}}</div>
      </div>
    </div>
  </sections>

</div><!--

--><div class="part w400">
  
    <sections class="weapons">
    <div ng-repeat="(no, weapon) in game.weapons | clean" class="right div400">
      <div class="actions">
        <div class="button equip" ng-click="equip($event, weapon)" ng-show="!weapon.is_equipped()">USE</div>
      </div>
      <div class="part infos w300">
        {{weapon.data.name}} 
        <span ng-if="weapon.is_equipped()">
          <span class="boss">Equipped</span> 
        </span> 
        ({{weapon.data.character}})
        <div>
          <span class="label">hits</span> {{weapon.data.hits}} 
          <span class="label">gils</span> {{weapon.data.gils}}
        </div>
      </div>
      <div class="part w50"></div>
    </div>
    <div ng-show="game.no_weapons()">
      <em>No weapons avalaible!</em>
    </div>
  </sections>

</div>