<div class="zone part w400 aleft">
  <div class="main">
    <div class="part avatar w100">
      <img ng-src="img/zones/{{game.zones.zone().img}}" width="100" />
    </div><!--
    --><div class="part w300">
      <div>{{game.zones.zone().name}} <strong>(#{{game.zones.zone().level}})</strong></div>
      <div class="line">"{{game.zones.zone().desc}}"</div>
    </div>
  </div>
  <div class="infos">
    <div class="powerUp">
      <img ng-src="img/icons/gils.png" class="icon gils" />
      {{game.gils|floor}} Gils
    </div>
  </div>
</div><!--

--><div class="items part w400">
  <div class="main">
    
  </div>
</div>

<div class="space"></div>

<div class="title">INVENTORY</div>

<div class="shopList">

  <div class="weapons">
    <div ng-repeat="weapon in game.weapons | clean" class="line">
      <div class="name">
        <img ng-src="img/icons/{{weapon.type}}.png" class="icon weapon" /> 
        {{weapon.name}}  <span class="desc">{{weapon.getDesc()}}</span>
      </div>
      <div class="price">
        {{weapon.getPrice()}} Gils
      </div>
      <div class="actions">
        <div class="button" ng-click="sell($event, weapon)">SELL</div>
      </div>
    </div>
  </div>

  <div class="materias">
    <div ng-repeat="materia in game.materias | clean" class="line">
      <div class="name">
        <img ng-src="img/icons/{{materia.color}}-materia.png" class="icon materia" /> 
        {{materia.name}} <span class="desc">{{materia.getDesc()}}</span>
      </div>
      <div class="price">
        {{materia.getPrice()}} Gils
      </div>
      <div class="actions">
        <div class="button" ng-click="sell($event, materia)">SELL</div>
      </div>
    </div>
  </div>

  <div class="items">
    <div ng-repeat="item in game.items | clean" class="line">
      <div class="name">
        <img ng-src="img/icons/{{item.type}}.png" class="icon item" /> 
        {{item.name}} <span class="desc">{{item.getDesc()}}</span>
      </div>
      <div class="price">
        {{item.getPrice()}} Gils
      </div>
      <div class="actions">
        <div class="button" ng-click="sell($event, item)">SELL</div>
      </div>
    </div>
  </div>

</div>