<div class="part w300">
  <div>{{game.zone.name}}</div>
  <div><span class="label">gils</span> {{game.total_gils|floor}}</span></div>
</div><!--

--><div class="part w300">
  <div><img ng-src="img/zones/{{game.zone.img}}" width="100" /></div>
</div><!--

--><div class="part w300">
</div>

<div class="space"></div>

<div class="part title w400">Save</div>
<div class="part title w50"></div>
<div class="part title w400">Export/Import</div>

<div class="space"></div>

<div class="part w400">

  <div class="button" ng-click="saveGame($event)">SAVE</div><br />
  <div class="button" ng-click="resetGame($event)">RESET</div>

</div><!--

--><div class="part w400">
  
    Coming...

</div>