<div class="part w300">
  <div>{{game.zone.name}}</div>
  <div><span class="label">gils</span> {{game.total_gils|floor}}</span></div>
</div><!--

--><div class="part w300">
  <div><img ng-src="img/zones/{{game.zone.img}}" width="100" /></div>
</div><!--

--><div class="part w300">
</div>

<div class="space"></div>

<div class="part title w400">Save</div>
<div class="part title w50"></div>
<div class="part title w400">Export/Import</div>

<div class="space"></div>

<div class="part w400">

  <div class="left">
    <div class="button" ng-click="saveGame($event)">SAVE</div>
    <span ng-show="game.time">Last save: {{game.time}}</span>
  </div>
  
  <br />
  
  <div class="left" ng-show="game.time">
    <div class="button" ng-click="resetGame($event)">RESET</div>
    Delete your save to begin from scratch?
  </div>

</div><!--

--><div class="part w400">
  
    <div class="right">
      <div class="button" ng-click="exportLastSave($event)" ng-show="game.time">EXPORT LAST SAVE</div>
      <div class="button" ng-click="exportCurrentGame($event)">EXPORT CURRENT GAME</div>
      <div class="button" ng-click="importSave($event)">IMPORT</div>
      
      <br />

      <textarea ng-model="area" class="area"></textarea>
    </div>

</div>