<div class="part w300">
  <div>{{game.zone.name}}</div>
  <div><span class="label">gils</span> {{game.total_gils|floor}}</span></div>
</div><!--

--><div class="part w300">
  <div><img ng-src="img/zones/{{game.zone.img}}" width="100" /></div>
</div><!--

--><div class="part w300">
</div>

<div class="space"></div>

<div class="part title w400">Items</div>
<div class="part title w50"></div>
<div class="part title w400">Weapons</div>

<div class="space"></div>

<div class="part w400">

  <sections class="items">
    <div ng-repeat="(no, item) in game.data.items | clean" class="left div400">
      <div class="actions">
        <div class="button buy" ng-click="buy($event, item)" ng-class="{disabled: !game.can_buy(item)}">BUY</div>
      </div>
      <div class="part w50"></div>
      <div class="part infos w300">
        {{item.data.name}}
        <div>
          <span class="label">stock</span> {{game.get_item_stock(no)}}
          <span class="label">gils</span> {{item.get_gils()}}
        </div>
        <div class="line">{{item.get_desc()}}</div>
      </div>
    </div>
  </sections>

</div><!--

--><div class="part w400">
  
    <sections class="weapons">
    <div ng-repeat="(no, weapon) in game.data.weapons | clean" class="right div400" ng-if="!weapon.is_owned()">
      <div class="actions">
        <div class="button buy" ng-click="buy($event, weapon)" ng-class="{disabled: !game.can_buy(weapon)}">BUY</div>
      </div>
      <div class="part infos w300">
        {{weapon.data.name}} ({{weapon.data.character}})
        <div>
          <span class="label">hits</span> {{weapon.data.hits}} 
          <span class="label">gils</span> {{weapon.data.gils}}
        </div>
      </div>
      <div class="part w50">
        <img ng-src="img/weapons/{{weapon.data.image}}" alt="weapon" height="48">
      </div>
    </div>
    <div ng-show="game.no_weapons()">
      <em>No weapons to buy!</em>
    </div>
  </sections>

</div>