<div class="part w300">
  <div>{{game.zone.name}}</div>
  <div><span class="label">gils</span> {{game.total_gils|floor}}</span></div>
</div><!--

--><div class="part w300">
  <div><img ng-src="img/zones/{{game.zone.img}}" width="100" /></div>
</div><!--

--><div class="part w300">
</div>

<div class="space"></div>

<div class="part title w400">Items</div>
<div class="part title w50"></div>
<div class="part title w400">Weapons</div>

<div class="part w400"></div><!--

--><div class="part w400">

  <sections class="weapons">
    <div ng-repeat="weapon in game.shop.weapons | clean" class="right div400">
      <img ng-src="img/icons/{{weapon.type}}.png" /> 
      {{weapon.name}} (+{{weapon.hits}}) [Stock: {{weapon.inStock()}}] [Price: {{weapon.getPrice()}}] 
      <div class="button" ng-click="buy($event, weapon)">BUY</div>
    </div>
  </sections>

  <sections class="materias">
    <div ng-repeat="materia in game.shop.materias | clean" class="right div400">
      <img ng-src="img/icons/{{materia.color}}-materia.png" /> 
      {{materia.name}} [Stock: {{materia.inStock()}}] [Price: {{materia.getPrice()}}] 
      <div class="button" ng-click="buy($event, materia)">BUY</div>
    </div>
  </sections>

  <sections class="items">
    <div ng-repeat="item in game.shop.items | clean" class="right div400">
      <img ng-src="img/icons/{{item.type}}.png" /> 
      {{item.name}} [Stock: {{item.inStock()}}] [Price: {{item.getPrice()}}] 
      <div class="button" ng-click="buy($event, item)">BUY</div>
    </div>
  </sections>

</div>