<!DOCTYPE html>
<html lang="fr" ng-app="clickingff7">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="revisit-after" content="7 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    
    <title>Clicking FF7</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <script src="js/underscore.min.js"></script>
    
    <script src="models/game.js"></script>
    <script src="models/enemy.js"></script>
    <script src="models/character.js"></script>
 
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/app.js"></script>

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-44996905-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
  </head>

  <body ng-controller="HomeCtrl">

    <header>
      <div class="wrapper">
        clicking ff7
         | <div class="button" ng-click="save()">SAVE</div>
         | <div class="button" ng-click="reset()">RESET</div>
      </div>
    </header>

    <div class="wrapper">

      <div class="part">

        <section class="explore">
          <div>Enemy pwr (Difficulty is poor)</div>
          <div><strong>{{total_enemy_pwr|floor}}</strong></div>
          <div>{{rate_enemy_pwr|round:2}} per second (net)</div>

          <br />

          <div ng-click="explore()" class="button">EXPLORE</div>
        </section>
        
        <section class="fight">
          <div>Experience (Multiplicator x1)</div>
          <div><strong>{{total_xp|floor}} xp</strong></div>
          <div>{{rate_xp|round:2}} xp per second</div>

          <br />

          <div>Gils (Multiplicator x0)</div>
          <div><strong>{{total_gils|floor}} gils</strong></div>
          <div>{{rate_gils|round:2}} gils per second</div>

          <br />

          <div ng-click="fight()" class="button" ng-class="{disabled: total_enemy_pwr < 1}">FIGHT</div>
        </section>

        <section class="zone">
          <div>Current zone #{{zone.level}}</div>
          <div><strong>{{zone.name}}</strong></div>
          
          <br />

          <div ng-click="next_zone()" class="button" ng-class="{disabled: !boss_defeated}">NEXT ZONE</div>
        </section>

      </div>

      <div class="part">

        <sections class="enemies">
          <div class="title">Enemy</div>
          <div ng-repeat="e in enemy | clean" class="enemy" ng-class="{disabled: e.data.number == 0}">
            <div class="actions">
              <div class="button fight_enemy" ng-click="fight_enemy(e)" ng-class="{disabled: !e.can_be_fought()}">FIGHT</div>
              <div class="button escape" ng-click="escape(e)" ng-class="{disabled: !e.can_be_escaped()}">ESCAPE</div>
            </div>
            <div><img ng-src="img/enemy/{{e.data.image}}" alt="avatar" class="avatar" height="48" /></div>
            {{e.data.name}} <strong ng-show="e.data.number > 0">x{{e.data.number}}</strong>
            <div>Cost: {{e.get_cost()}} pwr</div>
            <div>{{e.data.xp|round:2}} xp per second</div>
            <div>{{e.data.gils|round:2}} gils per second</div>
          </div>
        </sections>

      </div>

      <div class="part">

        <sections class="characters">
          <div class="title">Characters</div>
          <div ng-repeat="(i, character) in characters | clean" class="character" ng-class="{disabled: character.data.level == 0}">
            <div class="actions">
              <div class="button level_up" ng-click="level_up(character)" ng-class="{disabled: !character.can_level_up()}">LEVEL UP</div>
              <div class="button weapon_up" ng-click="weapon_up(character)" ng-class="{disabled: !character.can_weapon_up()}">WEAPON UP</div>
            </div>
            <div><img ng-src="img/characters/{{character.data.image}}" alt="avatar" class="avatar" /></div>
            <div>{{character.data.name}} <strong ng-show="character.data.level > 0">(LVL{{character.data.level}})</strong></div>
            <div class="line">"{{character.get_line()}}"</div>
            <div ng-if="character.data.level > 0">Weapon: {{character.get_weapon().name}} ({{character.get_weapon().hits}} pwr)</div>
            <div ng-if="character.data.level > 0">{{character.get_hits()|round:2}} hits per second</div>
          </div>
        </sections>

      </div>

      <div class="part">
        <sections class="upgrades"></sections>
      </div>

    </div>
    
    <div class="clear"></div>

    <footer>
      <div class="wrapper">
        ©2013 menencia.com, version 0.3 still beta. <a href="http://clickingff7.tumblr.com/" target="_blank">Dev Blog</a>
      </div>
    </footer>

  </body>

</html>